name: Klaversjassen AI

on:
  push:
    branches: [ "development" ]
  pull_request:
    branches: [ "development" ]

jobs:

  build:
    #runs-on: buildjet-2vcpu-ubuntu-2204-arm
    runs-on: ubuntu-22.04-arm

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          fetch-depth: 0

      - name: Login to GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io/jeroenkolk/klaversjassen-ai
          username: jeroenkolk
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5
        with:
          images: ghcr.io/jeroenkolk/klaversjassen-ai

      - name: Setup Java
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4
        with:
          distribution: 'temurin'
          java-version: '25'
          cache: 'maven'

      - name: Build image
        run: |
          mvn -ntp -B -Dspring-boot.build-image.imageName=ghcr.io/jeroenkolk/klaversjassen-ai:latest clean install spring-boot:build-image

      - name: Push
        id: push
        if: success() && github.event_name != 'pull_request'
        run: |
          docker push ghcr.io/jeroenkolk/klaversjassen-ai:latest